.margin-for-footer {
    margin-bottom: 130px;
}

.small_title {
    font-size: 14px !important;
}

.small_content {
    font-size: 14px !important;
}

.card-title {
    font-size: 16px !important;
    font-weight: bold;
}

.post-content{
    font-size: 13.8px !important;
}

.col-lg-5 p{
    font-size: 15px !important;
}

.img-fluid {
    width: 800px;
    height: 280px;
}

.card-img-top {
    width: 500px;
    height:400px;
}