<!doctype html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>김송희입니다</title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/about_me.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/4c13ecda23.js" crossorigin="anonymous"></script>

</head>
<body>

    {% include 'blog/navbar.html' %}

    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-8">

                    <h4>안녕하세요. 김송희입니다.</h4>
                    <br/>
                    <p class="lead" style="font-size: 15px; font-weight: normal;">
                        카페 가는 것을 좋아하는 개발자입니다.<br/>
                        요즘 취미는 낚시이고, 주에 3번은 러닝을 하며 지냅니다.
                    </p>

                    <ul style="font-size: 15px;">
                        <li class="small_title">경력</li>
                        <ul class="small_content">
                            <li>비투아시스템즈 - 데이터분석파트 (2024.08 ~)</li>
                        </ul>
                        <br/>

                        <li class="small_title">학력</li>
                        <ul class="small_content">
                            <li>영신여자고등학교, 자연계열 (2016.03 ~ 2019.02)</li>
                            <li>***대학교, 빅데이터경영공학부 (2019.03 ~ 2024.02)</li>
                        </ul>
                        <br/>

                        <li class="small_title">프로젝트</li>
                        <ul class="small_content">
                            <li>Do It Django (Blog Website), Django + BootStrap + Python, (2024.10.01 ~ 2024.10.31)</li>
                            <li>강아지를 부탁해,  Spring MVC + Java + JavaScript  + HTML5 + CSS3 + OracleDB, (2023.12.19 ~ 2024.02.01)</li>
                            <li>Display Flex,  Java + JavaScript + JSP&Servlet + HTML5 + CSS3 + OracleDB, (2023.11.03 ~ 2023.12.15)</li>
                        </ul>
                    </ul>

                </div>

                <div class="col-lg-4">
                    <img width="300px" src="{% static 'single_pages/images/me.png' %}">
                </div>
            </div>
        </div>
        <br/>
    </section>

<!-- d-flex flex-column align-items-center -->
    <section class="bg-light margin-for-footer">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-12">
                    <h1>Portfolio</h1>
                    <br/>
                </div>
            </div>
            <div class="row g-5 justify-content-center">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card" style="width: 360px; height: 390px;" data-bs-toggle="modal" data-bs-target="#click1">
                        <img class="card-img-top" style="width: auto; height: 180px;" src="{% static 'single_pages/images/나만의블로그웹사이트.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">나만의 블로그 만들기 프로젝트</h5>
                            <hr/>
                            <p class="post-content">Django + Bootstrap 활용한 Python 웹 프로그래밍 프로젝트입니다.</p>
<!--                            <a href="/your-link-here" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#pycon2024">자세히 보기</a>-->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card" style="width: 360px; height: 390px;" data-bs-toggle="modal" data-bs-target="#click2">
                        <img class="card-img-top" style="width: auto; height: 180px;" src="{% static 'single_pages/images/강아지를부탁해.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">유기견 임시 보호 센터 입양 플랫폼 프로젝트</h5>
                            <hr/>
                            <p class="post-content">동물보호소의 유기견을 재입양할 수 있는 유기견 입양 플랫폼을 구축하였습니다.</p>
<!--                            <a href="/your-link-here" class="btn btn-outline-primary  text-center" data-bs-toggle="modal" data-bs-target="#inflearn_django2">자세히 보기</a>-->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="card" style="width: 360px; height: 390px;" data-bs-toggle="modal" data-bs-target="#click3">
                        <img class="card-img-top" style="width: auto; height: 180px;" src="{% static 'single_pages/images/1.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">재개봉 영화 예매 사이트 프로젝트</h5>
                            <hr/>
                            <p class="post-content">2000년대 이후의 '스테디셀러'들을 다시 만나볼 수 있는 기회를 제공하기 위해 개발한 영화 예매 사이트 프로젝트입니다.</p>
<!--                            <a href="/your-link-here" class="btn btn-outline-primary text-center" data-bs-toggle="modal" data-bs-target="#automation_python">자세히 보기</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
        </div>
    </section>



    <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
    </div>


    <!-- Modal -->
    <div class="modal" id="click1" tabindex="-1" role="dialog" aria-labelledby="click1ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="click1ModalLabel">나만의 블로그 만들기 프로젝트</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-lg-7 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="{% static 'single_pages/images/나만의블로그웹사이트.png' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>Django + Bootstrap 활용한 Python 웹 프로그래밍 프로젝트입니다.</p>
                            <a href="https://github.com/KIMBBOI/django_blog_songsite" class="btn btn-outline-primary" target="_blank">Go To Link</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" id="click2" tabindex="-1" role="dialog" area-labelleby="click2ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="click2ModalLabel">유기견 임시 보호 센터 입양 플랫폼 프로젝트</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-lg-7 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="{% static 'single_pages/images/강아지를부탁해.png' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>동물보호소의 유기견을 재입양할 수 있는 유기견 입양 플랫폼을 구축하였습니다.</p>
                            <a href="https://github.com/KIMBBOI/PuppyPlease" class="btn btn-outline-primary" target="_blank">Go To Link</a>
                        </div>
                    </div>
                  </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="click3" tabindex="-1" role="dialog" aria-labelledby="click3ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="click3ModalLabel">재개봉 영화 예매 사이트 프로젝트</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <div class="row">
                        <div class="col-lg-7 d-flex justify-content-center align-items-center">
                            <img class="img-fluid" src="{% static 'single_pages/images/1.png' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>2000년대 이후의 '스테디셀러'들을 다시 만나볼 수 있는 기회를 제공하기 위해 개발한 영화 예매 사이트 프로젝트입니다.</p>
                            <a href="https://github.com/KIMBBOI/displayFlex" class="btn btn-outline-primary" target="_blank">Go To Link</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

d


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

</body>
</html>