<!doctype html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>{{ user.username }} Website</title>

    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">

    <script src="https://kit.fontawesome.com/4c13ecda23.js" crossorigin="anonymous"></script>
</head>
<body>

    {% include 'blog/navbar.html' %}

    <section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 text-light">
                    <h2 class="mt-5"> {{ user.username }}'s Website </h2>
                    <p class="small-text">파이썬, django 웹프레임워크를 이용한 나만의 블로그 사이트입니다 .*</p>
                </div>
                <div class="col-lg-5 mt-5">
                    <h5 class="text-light">Blog - 최신 게시글</h5>

                    {% for post in recent_posts %}
                        <div class="card mt-1">
                            <div class="card-body">
                                <h6>
                                    <a href="{{ post.get_absolute_url }}" class="text-decoration-none text-dark" style="font-size: 13.3px;">
                                        {{ post.title }}
                                    </a>
                                </h6>
                                <span class="badge badge-pill badge-light float-end" style="color: black; font-size: 11px;">
                                    <img class="mr-1 rounded-circle" width="22px" src="{{ post.get_avatar_url }}" alt="{{ post.author }}">
                                    {{ post.author.username }}
                                    &nbsp;
                                    &nbsp;
                                    {{ post.created_at }}
                                </span>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    <div class="fixed-bottom">
        {% include 'blog/footer.html' %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>


</body>
</html>